h1 {
    font-size: 75px;
    text-align: center;
}

.page p {
    font-size: 20px;
    position: relative;
    left: 25%;
    right: auto;
    max-width: 50%;
    text-align: justify;
    line-height: 1.5;
    padding: 7px;
}