html {
    position: relative;
    min-height: 100%;
}

body {
  background-image:
    linear-gradient(
      to right, 
      #87CEFA, #C1CDCD
    );
   font-family: 'Montserrat', sans-serif;
}

/* heading and footing style */

header {
    position: absolute;
    left: 0px;
    width: 100%;
    background-color: #d1d1d1;
    padding: 0px;
    height: 50px;
    top: 0px;
    border-bottom: 1px grey solid;
}

header img {
    display: inline-block;
    height: 45px;
    width: auto;
    position: absolute;
    top: 3px;
}

#cisco {
    right: 10px;
}

#technion {
    right: 100px;
}

/* heading menu style */
ul.top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px grey solid;
}

ul.top-menu li {
    position: relative;
    float: left;
    width: 100px;
    text-align: center;
    line-height: 21px;
}

ul.top-menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.top-menu li a:hover {
    color: #fff;
    background: #939393;
}

ul.top-menu li a.active {
    color: white;
    background-color: #008CBA;
}

/* main content style */
.main-container {
    position: relative;
    top: 60px;
    right: 0px;
    bottom: auto;
    left: 0px;
    width: auto;
    padding-bottom: 20px;
}

/*.preloader {
    display: none;
}*/