h1 {
    font-size: 75px;
    text-align: center;
}

h3 {
    font-size: 50px;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.main-menu li {
    position: relative;
    float: left;
    width: 100px;
    left: 41%;
    text-align: center;
    line-height: 21px;
    margin: 5px;
}

ul.main-menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #008CBA);
    background-image: -moz-linear-gradient(top, #3cb0fd, #008CBA);
    background-image: -ms-linear-gradient(top, #3cb0fd, #008CBA);
    background-image: -o-linear-gradient(top, #3cb0fd, #008CBA);
    background-image: linear-gradient(to bottom, #3cb0fd, #008CBA);
}

ul.main-menu li a:hover {
    color: #fff;
    background: #939393;
    background-image: -webkit-linear-gradient(top, #008CBA, #2980b9);
    background-image: -moz-linear-gradient(top, #008CBA, #2980b9);
    background-image: -ms-linear-gradient(top, #008CBA, #2980b9);
    background-image: -o-linear-gradient(top, #008CBA, #2980b9);
    background-image: linear-gradient(to bottom, #008CBA, #2980b9);
}