h1 {
    font-size: 75px;
    text-align: center;
}

.info-container {
    position: relative;
    left: 25%;
    max-width: 50%;
}

span.info {
    font-size: 20px;
    position: relative;
    /*left: 25%;*/
    right: auto;
    max-width: 50%;
    text-align: justify;
    line-height: 1.5;
}

form {
    height: 500px;
    line-height: 1.5;
    text-align: center;
    padding: 7px;
}

.form-container {
    /*border: 2px solid black;*/
    position: absolute;
    width: 60%;
    left: 20%;
    right: auto;
    display: flex;
    align-items: center;
}

.form-element {
    flex: auto;
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 0;
    padding-left: 0;
    font-size: 15px;
    width: auto;
}

.form-label {
    font-size: 20px;
}

.placeholder {
    margin-right: 10px;
    margin-left: 10px;
}

.nav-btn {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-btn li {
    display: inline-block;
    font-size: : 14px;
    padding-right: 20px;
}

.nav-btn li a {
    color: black;
}

.nav-btn li a:visited {
    color: black;
}

#switch-type {
    padding-left: 45px;
    text-align: justify;
}

button {
    font-size: 20px;
    color: #000000;
    background: none!important;
    border: none;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button:hover {
    color: #ffffff;
}

input[type=text] {
    width: 150px;
    margin: 0;
}