h3 {
    font-size: 50px;
    text-align: center;
}

.info-container {
    position: relative;
    left: 25%;
    max-width: 50%;
}

span.info {
    font-size: 20px;
    position: relative;
    /*left: 25%;*/
    right: auto;
    max-width: 50%;
    text-align: justify;
    line-height: 1.5;
}

.placeholder {
    padding-right: 30px;
    padding-left: 30px;
}

.params {
    list-style-type: none;
}

.query-params {
    width: 100%;
    text-align: justify;
}

nav.requery {
    position: fixed;
    right: 145px;
    bottom: 0px;
    padding-bottom: 20px;
}

nav.requery .re {
    background: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: #fafafa;
}

td, th {
  /*width: 4rem;*/
  height: 2rem;
  text-align: center;
}

th {
  background: #eaeaea;
}

tr:nth-child(even) {
    background-color: #eaeaea;
}

.vert-head {
    width: 15%;
    border-right: solid 1px lightgrey;
}

.horz-head {
    border-bottom: solid 1px lightgrey;
}

.outer {
    width: 100%;
}

.inner-wrap {
    width: 100%;
    display: table;
    table-layout: fixed;
    background-color: #fafafa;
}

.inner-wrap:nth-child(even) {
    background-color: #eaeaea;
}

.row:last-child {
    border-bottom: solid 2px lightgrey;
}

.row-define {
    width: 25%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-right: solid 2px lightgrey;
    border-bottom: solid 2px lightgrey;
}

.row-layer {
    width: 100%;
    display: table-row;
    table-layout: fixed;
}

.inner {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.bottom-space {
    margin-bottom: 25%;
    margin-top: 25%;
    padding-top: 25%;
    padding-bottom: 25%;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}