<!-- extend from base layout -->
{% extends "base.html" %}

{% block custom_style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}

{% block content %}
  <div id="about" class="page">
    <h1>About this project</h1>
    <span>
      <p>Enhance the capabilities of Cisco's TrustSec.<br>
      Using Cisco's ISE network secutrity events sent to the cloud as syslog messages, we provide network administrators accurate near-real-time information about their network.<br>
      Translate syslog messages into TrustSec events and maintain a constantly changing database which is a reflection of the enforced policies in the de-facto TrustSec network.<br>
      </p>
    </span>
  </div>
{% endblock %}
