<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Cisco TrustSec</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    {% block custom_style %}{% endblock %}
  </head>
  <body>
    <header class="head">
        <nav role="navigation">
            <div class="menu-container">
                <ul class="top-menu">
                    <li><a id="home-btn" class="menu-btn {{ 'active' if request.path in ('/index', '/', '/query/ip', '/query/sgt', '/query/cell') }}" href="/index">Home</a></li>
                    <li><a id="cont-btn" class="menu-btn {{ 'active' if request.path == '/contact' }}" href="/contact">Contact</a></li>
                    <li><a id="abt-btn" class="menu-btn {{ 'active' if request.path == '/about' }}" href="/about">About</a></li>
                </ul>
            </div>
        </nav>
        <a href="http://www.cisco.com/"><img id="cisco" src="{{ url_for('static', filename='cisco.png') }}"></a>
        <a href="http://www.technion.ac.il/"><img id="technion" src="{{ url_for('static', filename='technion.png') }}"></a>
    </header>
    <div class="main-container">
        <!-- <div class="preloader">
            <i class="loader fa fa-cog fa-spin fa-5x fa-fw" aria-hidden="true"></i>
        </div> -->
        {% block content %}{% endblock %}
    </div>
  </body>
</html>