<!-- extend from base layout -->
{% extends "base.html" %}

{% block custom_style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact.css') }}">
{% endblock %}

{% block content %}
    <div id="contact" class="page">
        <h1>Contact Us</h1>
        <ul>
            <li>Evgeny Shapiro</li>
            <li>Gal Berger</li>
        </ul>
    </div>
{% endblock %}