<!-- extend from base layout -->
{% extends "base.html" %}

{% block custom_style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
    <div id="home">
        <h1>TrustSec - ISE - Query Interface</h1>
        <nav role="navigation">
            <div class="menu-container">
                <ul class="main-menu">
                    <li><a class="query-item" id="ip" href="/query/ip"><label>IP</label></a></li>
                    <li><a class="query-item" id="sgt" href="/query/sgt"><label>SGT</label></a></li>
                    <li><a class="query-item" id="cell" href="/query/cell"><label>Cell</label></a></li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}
