<!-- extend from base layout -->
{% extends "base.html" %}

{% block custom_style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='query.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='query.js')}}"></script>
{% endblock %}

{% block content %}
<div class="query-container">
  <h1>TrustSec - ISE - Query Interface</h1>
  <div class="info-container">
    <hr>
    <span class="info"><p>Please insert a valid IP address of a switch.<br>
    A list of SGT's the device holds will be presented in case the switch is an AP.<br>
    In case the switch is an enforcer device, a digest of current policies will be presented.
    </p></span>
    <hr>
  </div>
  <form action="" method="post" name="query">
    <div class="form-container">
    {{ form.hidden_tag() }}
      <span class="form-element">
        <label class="form-label">Device IP: 
          <span class="placeholder"></span>
          {{ form.ip }}
          {% for error in form.ip.errors %}
          <br><span style="color: red; font-size: 15px;">[{{ error }}]</span>
          {% endfor %}
        </label>
      </span>
      <span class="form-element" id="sub">
        <ul class="nav-btn">
          <li>
            <button class="submit-btn" id="go" type="submit">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Go </button>
          </li>
          <li>
            <button class="submit-btn" id="back" type="reset" onclick="window.location = '/index'">
              <i class="fa fa-undo" aria-hidden="true"></a></i> Back </button>
          </li>
        </ul>
        {% if form.ip.errors %}
        <br><span></span>
        {% endif %}
      </span>
    </div>
  </form>
</div>
{% endblock %}