<!-- extend from base layout -->
{% extends "base.html" %}

{% block custom_style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='query.css') }}">
{% endblock %}

{% block content %}
<div class="query-container">
  <h1>TrustSec - ISE - Query Interface</h1>
  <div class="info-container">
    <hr>
    <span class="info"><p>Please insert a Security Group Tag and a switch type.<br>
        A list of switches with the given type that use the given SGT will be returned.
    </p></span>
    <hr>
  </div>
  <form action="" method="post" name="query">
    <div class="form-container">
    {{ form.hidden_tag() }}
      <span class="form-element" id="sgt1">
        <label class="form-label">SGT: </label><span class="placeholder"></span>
        {{ form.sgt }}
        {% for error in form.sgt.errors %}
        <br><span style="color: red; font-size: 15px;">[{{ error }}]</span>
        {% endfor %}
      </span>
      <span class="form-element" id="switch-type">
        {% for subfield in form.stype %}
        <label class="form-label">{{ subfield }} {{ subfield.label }}</label><br>
        {% endfor %}
        {% for error in form.stype.errors %}
        <span style="color: red; font-size: 15px;">[{{ error }}]</span>
        {% endfor %}
      </span>
      <div class="placeholder"></div>
      <span class="form-element" id="sub">
        <ul class="nav-btn">
          <li>
            <button class="submit-btn" id="go" type="submit">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Go </button>
          </li>
          <li>
            <button class="submit-btn" id="back" type="reset" onclick="window.location = '/index'">
              <i class="fa fa-undo" aria-hidden="true"></a></i> Back </button>
          </li>
        </ul>
        {% if form.sgt.errors or form.stype.errors %}
        <br><span></span>
        {% endif %}
      </span>
    </div>
  </form>
</div>
{% endblock %}