<!-- extend from base layout -->
{% extends "base.html" %}

{% block custom_style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='query.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cell.css') }}">
{% endblock %}

{% block content %}
<div class="query-container">
  <h1>TrustSec - ISE - Query Interface</h1>
  <div class="info-container">
    <hr>
    <span class="info"><p>Please insert a user SGT, a resource SGT and a switch IP address.<br>
        A detailed current policy will be presented.
    </p></span>
    <hr>
  </div>
  <form action="" method="post" name="query">
    <div class="form-container">
    {{ form.hidden_tag() }}
      <span class="form-element" id="sgt1">
        <label class="form-label">User SGT: </label><span class="placeholder"></span>
        {{ form.usgt }}
        {% for error in form.usgt.errors %}
        <br><span style="color: red; font-size: 15px;">[{{ error }}]</span>
        {% endfor %}
      </span>
      <span class="form-element" id="sgt1">
        <label class="form-label">Resource SGT: </label><span class="placeholder"></span>
        {{ form.rsgt }}
        {% for error in form.rsgt.errors %}
        <br><span style="color: red; font-size: 15px;">[{{ error }}]</span>
        {% endfor %}
      </span>
      <span class="form-element">
        <label class="form-label">Device IP: 
          <span class="placeholder"></span>
          {{ form.ip }}
          {% for error in form.ip.errors %}
          <br><span style="color: red; font-size: 15px;">[{{ error }}]</span>
          {% endfor %}
        </label>
      </span>
      <div class="placeholder"></div>
      <span class="form-element" id="sub">
        <ul class="nav-btn">
          <li>
            <button class="submit-btn" id="go" type="submit">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Go </button>
          </li>
          <li>
            <button class="submit-btn" id="back" type="reset" onclick="window.location = '/index'">
              <i class="fa fa-undo" aria-hidden="true"></a></i> Back </button>
          </li>
        </ul>
        {% if form.usgt.errors or form.rsgt.errors or form.ip.errors %}
        <br><span></span>
        {% endif %}
      </span>
    </div>
  </form>
</div>
{% endblock %}