<!-- extend from base layout -->
{% extends "base.html" %}

{% block custom_style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='results.css') }}">
{% endblock %}

{% block content %}
<div class="page">
    <h1>Query Results</h1>
    <div class="info-container">
        <hr>
        <span class="info">
            {% if sgt_results %}
            <div class="query-params">
                <span>SGT:</span>
                <span class="placeholder"></span>
                <span>{{ params['sgt'] }}</span>
            </div>
            <div class="query-params">
                <span>Device Type:</span>
                <span class="placeholder"></span>
                <span>{{ params['type'] }}</span>
            </div>
            <hr>
            <table>
                <thead>
                    <tr>
                        <th class="horz-head">IP Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ip in sgt_results %}
                    <tr>
                        <td>
                            {{ ip }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% elif cell_results %}
            <div class="query-params">
                <span>User SGT:</span>
                <span class="placeholder"></span>
                <span>{{ params['usgt'] }}</span>
            </div>
            <div class="query-params">
                <span>Resource SGT:</span>
                <span class="placeholder"></span>
                <span>{{ params['rsgt'] }}</span>
            </div>
            <div class="query-params">
                <span>Device IP:</span>
                <span class="placeholder"></span>
                <span>{{ params['ip'] }}</span>
            </div>
            <hr>
            <table>
                <thead>
                    <tr>
                        <th class="horz-head">Rule Name</th>
                        <th class="horz-head">Rule Content</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, value in cell_results.items() %}
                    <tr>
                        <td>{{ name }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% elif acc_results or enf_results %}
            <div class="query-params">
                <span>Device IP:</span>
                <span class="placeholder"></span>
                <span>{{ params['ip'] }}</span>
                <span>Device Type:</span>
                {% if acc_results %}
                <span class="placeholder"></span>
                <span>Access</span>
                {% if enf_results %}
                <span>\</span>
                {% endif %}
                {% endif %}
                {% if enf_results %}
                {% if not acc_results %}
                <span class="placeholder"></span>
                {% endif %}
                <span>Enforcer</span>
                {% endif %}
            </div>
                {% if acc_results %}
                <hr>
                <table>
                    <thead>
                        <tr>
                            <th class="horz-head">SGTs</th>
                            <th class="horz-head">Counter</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sgt in acc_results %}
                        <tr>
                            <td>{{ sgt['sgt_id'] }}</td>
                            <td>{{ sgt['counter'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                {% if enf_results %}
                <hr>
                <table>
                    <thead>
                        <tr>
                            <th class="vert-head horz-head">Resource\User</th>
                            {% for user in params['users'] %}
                            <th class="horz-head">{{ user }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in enf_results %}
                        {% set outer_loop = loop %}
                        <tr>
                            <th class="vert-head">{{ params['resources'][outer_loop.index -1 ] }}</th>
                            {% for cell in enf_results[outer_loop.index -1 ] %}
                            {% set inner_loop = loop %}
                            {% if cell['sgacl'] %}
                            <td class="entry"><a href="#{{ outer_loop.index + inner_loop.index }}">{{ cell['sgacl'] }}</a></td>
                            {% else %}
                            <td><b>--</b></td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
                <div class="outer">
                    <div class="inner-wrap">
                        {% for result in enf_results %}
                        {% set outer_loop = loop %}
                            {% for cell in enf_results[outer_loop.index -1 ] %}
                            {% set inner_loop = loop %}
                            {% if cell['sgacl'] %}
                            <div class="inner-wrap">
                                <div class="row-define" id="{{ outer_loop.index + inner_loop.index }}">{{ cell['sgacl'] }}</div>
                                {% for rule in cell['content'] %}
                                <div class="inner-wrap row">
                                    <div class="row-layer">
                                        <div class="inner">{{ rule }}</div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="inner-wrap row">
                                    <div class="row-layer">
                                        <div class="inner">No SGACL Request made for this.</div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% else %}
            <div class="query-params">
                <span>Device wasn't found in the Database.</span>
            </div>
            {% endif %}
        </span>
        <hr>
    </div>
</div>
<nav class="requery" role="navigation">
    <div class="menu-container">
        <ul class="main-menu">
            <li>
                <a class="re query-item" id="ip" href="/query/ip">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <label>IP</label>
                </a>
            </li>
            <li>
                <a class="re query-item" id="sgt" href="/query/sgt">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <label>SGT</label>
                </a>
            </li>
            <li>
                <a class="re query-item" id="cell" href="/query/cell">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <label>Cell</label>
                </a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}